*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 98%);
    font-family: 'Josefin Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5em 0;
}

.hero {
    max-width: 100%;
}

.hero__mobile {
    height: 100%;
}

.logo {
    position: absolute;
    top: 1.5em;
    left: 8%;
}

.text {
    align-self: center;
    width: 80%;

}

.slogan {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 3.75rem;
    text-align: center;
    text-transform: uppercase;
}

.slogan span {
    color: hsl(0, 6%, 24%);
    font-weight: 600;
}

.paragraph {
    color: hsl(0, 36%, 70%);
    line-height: 170%;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
}

.form {
    position: relative;
    width: 100%;
    align-self: center;
}

.input {
    background-color: hsl(0, 100%, 98%);
    color: hsl(0, 36%, 70%);
    width: 100%;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 100px;
    padding: 0.75rem 0 0.75rem 1.25rem;
    outline: none;
}

::placeholder {
    color: hsla(0, 36%, 70%, 0.5);
    font-size: 0.8125rem;
}

.button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    background: linear-gradient(135deg, rgba(247, 190, 190, 1) 0%, rgba(247, 190, 190, 1) 25%,
    rgba(237, 139, 139, 1) 75%, rgba(237, 139, 139, 1) 100%);
    margin: 0;
    padding: 1.25rem 1.562rem;
    border-radius: 100px;
    z-index: 2;
    cursor: pointer;
}

.error-icon {
    position: absolute;
    top: 23%;
    right: 5em;
    visibility: hidden;
}

.error-message {

    color: hsl(0, 93%, 68%);
    position: absolute;
    bottom: -60%;
    left: 1.5em;
    visibility: hidden;
}

@media (min-width: 376px) {
    .hero__mobile {
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .container {
        flex-direction: row;
        margin: 0;
        min-height: 100vh;
    }

    .text {
        display: flex;
        justify-content: center;
    }

    .hero {
        order: 2;
    }

    .slogan {
        text-align: left;
        font-size: 3.75rem;
    }

    .paragraph {
        text-align: left;
        font-size: 1.125rem;
    }

    .wrapper {
        position: relative;
        width: 50%;
    }

    .input {
        padding: 1.125rem 0 1.125rem 1.875rem;
    }

    ::placeholder {
        font-size: 1rem;
    }

    .button {
        padding: 1.25rem 2.5rem;
    }

    .logo {
        left: 0;
        top: -4em;
    }

    .error-icon {
        top: 30%;
        right: 7em;
    }

    .error-message {
        position: absolute;
        bottom: -50%;
        left: 2em;
    }

}


